{% extends "base.html" %} {% load static %} {% block content %}
<!-- Main container to hold sidebar + content -->
<div class="container-fluid">
    <div class="row min-vh-100">
        <!-- Your sidebar code goes here -->
        {% include "sidebar.html" %}
        <!-- Main Content -->
        <section class="col-lg-10 col-md-11 col-sm-11 col-10">
            <!-- Profile Header Section -->
            <div class="container my-4">
                <div class="row">
                    <div class="col-12 text-center">
                        <!-- Profile image placeholder -->
                        {% if user.image and user.image.url %}
                        <img src="{{ user.image.url }}" alt="Profile Picture" class="rounded-circle mb-3" width="120"
                            height="120" />
                        {% else %}
                        <img src="{% static 'placeholder/placeholder.jpg' %}" alt="..." class="rounded-circle mb-3" width="120" height="120" />
                        {% endif %}
                        <!-- Username -->
                        <h2 class="fw-bold">{{user.username}}</h2>
                        <!-- Basic stats -->
                        <p>
                            <strong>{{data.count}}</strong> posts |
                            <strong>{{ false_conversations_count }}</strong>
                            followers |
                            <strong>{{true_conversations_count}}</strong> following
                        </p>
                        <!-- Additional info or buttons -->
                        {% if request.user == user %}
                        <a href="#" class="btn btn-outline-dark btn-sm">Edit profile</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Posts / Saved / Tagged Tabs -->
            <div class="container-fluid ">
                <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-posts-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-posts" type="button" role="tab" aria-controls="pills-posts"
                            aria-selected="true">
                            Posts
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-saved-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-saved" type="button" role="tab" aria-controls="pills-saved"
                            aria-selected="false">
                            Saved
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-tagged-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-tagged" type="button" role="tab" aria-controls="pills-tagged"
                            aria-selected="false">
                            Tagged
                        </button>
                    </li>
                </ul>
                <!-- Tab Content -->
                <div class="tab-content" id="pills-tabContent">
                    {% if data.count > 0 %}

                    <div class="tab-pane fade show active" id="pills-posts" role="tabpanel"
                        aria-labelledby="pills-posts-tab">
                        <!-- Posts grid or whatever you want to display -->
                        <div class="row">
                            <!-- Example placeholders for posts -->
                            {% for i in data %}
                            <div class="col-6 col-md-3 p-0">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#postModal{{ i.id }}">
                                    <img src="{{ i.image.url }}" alt="Post {{i.id}}" class="img-fluid" loading="lazy"
                                        style="width: 100% !important;height: -webkit-fill-available !important;" />
                                </a>
                            </div>
                            <!-- Modal for each post -->
                            <!-- Modal -->
                            <div class="modal fade" id="postModal{{ i.id }}" tabindex="-1"
                                aria-labelledby="postModalLabel{{ i.id }}" aria-hidden="true">
                                <!-- Use our custom class here -->
                                <div class="modal-dialog modal-dialog-centered modal-80">
                                    <div class="modal-content bg-transparent border-0">
                                        <div class="modal-body p-0">
                                            <!-- Left Column -->
                                            <div class="left-col p-0">
                                                <img src="{{ i.image.url|default:'...' }}" alt="Post {{ i.id }}"
                                                    class="img-fluid" loading="lazy" />
                                            </div>

                                            <!-- Right Column -->
                                            <div class="right-col bg-white">
                                                <div class="modal-header ps-2 py-1">
                                                    <h5 class="modal-title" id="postModalLabel{{ i.id }}">
                                                        {% if i.user.image and i.user.image.url %}
                                                        <img src="{{i.user.image.url}}" alt="Profile Picture"
                                                            class="rounded-circle mb-1" width="40" height="40" />
                                                        {% else %}
                                                        <img src="{% static 'placeholder/placeholder.jpg' %}" alt="..."
                                                            class="rounded-circle mb-1" width="40" height="40" />
                                                        {% endif %} {{ i.user.username|default:"Post Title"}}
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="mb-2 ps-2">
                                                    {% if i.user.image and i.user.image.url %}
                                                    <img src="{{i.user.image.url}}" alt="Profile Picture"
                                                        class="rounded-circle mb-1" width="25" height="25" />
                                                    {% else %}
                                                    <img src="{% static 'placeholder/placeholder.jpg' %}" alt="..."
                                                        class="rounded-circle mb-1" width="25" height="25" />
                                                    {% endif %}
                                                    <strong>{{ i.user.username|default:"Title" }}</strong> :
                                                    <span>&nbsp; {{ i.caption|default:"Lorem ipsum dolorsitamet..."}}</span>
                                                </div>
                                                <div class="comments-section comment-sec ps-2">
                                                    {% for comment in i.comments.all %}
                                                    <div class="comment mb-3">
                                                        <a href="{% url 'profile' %}?User={{comment.user.id}}"
                                                            class="text-dark text-decoration-none"
                                                            style="cursor: pointer">
                                                            {% if comment.user.image and comment.user.image.url %}
                                                            <img src="{{comment.user.image.url}}" alt="Profile Picture"
                                                                class="rounded-circle mb-1" width="25" height="25" />
                                                            {% else %}
                                                            <img src="{% static 'placeholder/placeholder.jpg' %}"
                                                                alt="..." class="rounded-circle mb-1" width="25" height="25" />
                                                            {% endif %}
                                                            <strong> {{ comment.user.username }} </strong>
                                                        </a>
                                                        &nbsp;:
                                                        <span>{{ comment.content }}</span>
                                                        <div class="text-muted" style="font-size: 0.8em">
                                                            {{ comment.timestamp|date:"M d" }}
                                                        </div>
                                                    </div>
                                                    {% empty %}
                                                    <p>No comments yet.</p>
                                                    {% endfor %}
                                                </div>
                                                <!-- Section for comments,likes counts -->
                                                <div class="ps-2 border border-top-3 border-dark">
                                                    <ul class="list-unstyled ps-0 mb-1 d-flex align-items-center ">
                                                        {% if request.user.is_authenticated and request.user in i.likes.all %}
                                                        <form method="post" class="m-0" action="{% url 'likePost' %}?User={{request.user.id}}&Post={{i.id}}">
                                                            {% csrf_token %}
                                                            <button class="bi bi-heart-fill fs-4 btn btn-none m-0 ps-1">
                                                                {{ i.likes.count }} Likes
                                                            </button>
                                                        </form>
                                                        {% else %}
                                                        <form method="post" class="m-0" action="{% url 'likePost' %}?User={{request.user.id}}&Post={{i.id}}">
                                                            {% csrf_token %}
                                                            <button class="bi bi-heart fs-4 btn btn-none m-0 ps-1">
                                                                {{ i.likes.count }} Likes
                                                            </button>
                                                        </form>
                                                        {% endif %}
                                                        <i class="bi bi-chat fs-4 ms-3">
                                                            {{ i.comments.all.count }}
                                                        </i>
                                                    </ul>
                                                </div>
                                                <form method="POST" novalidate
                                                    class="d-flex card-footer p-2 border border-2 border-top-dark border-bottom-0 comment-form needs-validation"
                                                    action="{% url 'comment' %}?username={{ request.user.username }}&post_id={{ i.id }}">
                                                    {% csrf_token %}
                                                    <input class="form-control border border-0 none" id="comment" name="comment" rows="1" required
                                                        placeholder="Add a comment..." />
                                                    <button type="submit" class="btn btn-none">
                                                        Post
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- .modal-body -->
                                    </div>
                                    <!-- .modal-content -->
                                </div>
                                <!-- .modal-dialog -->
                            </div>
                            <!-- .modal -->

                            <!-- End of modal -->
                            {% endfor %}
                            <!-- Add more as needed -->
                        </div>
                    </div>
                    {% else %}
                    <div class="tab-pane fade" id="pills-posts" role="tabpanel" aria-labelledby="pills-posts-tab">
                        <!-- Saved items -->
                        <p class="text-center">No Posts</p>
                    </div>
                    {% endif %}
                    <div class="tab-pane fade" id="pills-saved" role="tabpanel" aria-labelledby="pills-saved-tab">
                        <!-- Saved items -->
                        <p class="text-center">No Saved items...</p>
                    </div>
                    <div class="tab-pane fade" id="pills-tagged" role="tabpanel" aria-labelledby="pills-tagged-tab">
                        <!-- Tagged items -->
                        <p class="text-center">No Tagged items...</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}