{% load static %}
<div class="d-flex p-0 justify-content-between">
    <!-- Sidebar -->
    <div class="sidebar border-end d-flex flex-column px-2 vw-15 shadow-lg">
        <ul class="nav flex-column gap-1 justify-content-center mt-4">
            <li class="w-max-content"><a href="/" class="nav-link d-flex align-items-center gap-2 ps-2">
                    <i class="bi bi-house fs-4"></i> <span>Home</span>
                </a></li>
            <li class="w-max-content"><a href="#" class="nav-link d-flex align-items-center gap-2 ps-2">
                    <i class="bi bi-search fs-4"></i> <span>Search</span>
                </a></li>
            <li class="w-max-content"><a href="#" class="nav-link d-flex align-items-center gap-2 ps-2">
                    <i class="bi bi-globe fs-4"></i> <span>Explore</span>
                </a></li>
            <li class="w-max-content"><a href="#" class="nav-link d-flex align-items-center gap-2 ps-2">
                    🎬 <span>Reels</span>
                </a></li>
            <li class="w-max-content p-0">
                <a href="#" class="nav-link d-flex align-items-center gap-2 ps-2 position-relative">
                    <i type="button" class="position-relative bi bi-chat fs-4">
                        <button
                            class="position-absolute top-0 start-100 translate-middle badge border-0 rounded-pill bg-danger text-center"
                            style="font-size: 0.7rem !important;">
                            99
                        </button>
                    </i>
                    <span>Messages</span>
                </a>
            </li>
            <li class="w-max-content">
                <a href="#" class="nav-link d-flex align-items-center gap-2 ps-2">
                    <i class="bi bi-heart fs-4"></i> <span>Notifications</span>
                </a>
            </li>
            <li class="w-max-content"><a href="#" class="nav-link d-flex align-items-center gap-2 ps-2">
                    ➕ <span>Create</span>
                </a></li>
            <li class="w-max-content">
                <a href="{% url 'profile' %}?User={{request.user.id}}"
                    class="nav-link d-flex align-items-center gap-2 ps-2">
                    {% if request.user.image and request.user.image.url %}
                    <img src="{{request.user.image.url}}" alt="Profile Picture" loading="lazy"
                        class="rounded-circle mb-1" width="30" height="30" />
                    {% else %}
                    <img src="{% static 'placeholder/placeholder.jpg' %}" alt="..." loading="lazy"
                        class="rounded-circle mb-1" width="30" height="30" />
                    {% endif %} <span>Profile</span>
                </a>
            </li>
            <li class="w-max-content"><a href="#" class="nav-link d-flex align-items-center gap-2 ps-2">
                    <i class="bi bi-chat fs-4"></i> <span>Threads</span>
                </a></li>
        </ul>
        <div class="nav-link dropdown dropup mt-auto">
            <a class="nav-link dropdown-toggle d-flex align-items-center gap-2 px-3 ps-2" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-list fs-4"></i> <span>More</span>
            </a>
            <ul class="dropdown-menu z-4 p-2" style="min-width: auto;">
                {% if user.is_authenticated %}
                <li class="mb-2" id="themeBtn"><a class="dropdown-item nav-link" onclick="setTheme('dark')"
                        role="button"><i class="bi bi-moon fs-4 me-2 ps-2"></i><span>Switch</span></a></li>
                <li class="mb-2"><a class="dropdown-item nav-link" href="{% url 'logout' %}"><i
                            class="bi bi-box-arrow-right me-2 fs-4 ps-2"></i><span>Logout</span></a></li>
                {% endif %}
            </ul>
        </div>
    </div>

